@use "../variables.scss" as *;

.homePage {
  display: flex;
  height: 100vh;

  & section {
    flex-grow: 1;
    max-width: 50vw;
  }
}

.searchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: $color-primary-light;
  padding: 8rem;

  & span {
    text-align: center;
  }
}

.listSection {
  overflow-y: scroll;
}
