@use "../../variables.scss" as *;

.searchBar {
  background-color: $color-bg;
  opacity: 0.9;
  border-radius: 4rem;
  padding: 2rem 3rem;
  width: 100%;
  font-weight: 600;

  transition: all 0.2s ease-out;

  &::placeholder {
    color: $color-border;
  }

  &:focus {
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.138);
    transform: translateY(-0.3rem);
  }
}
