.bookSummary {
  display: grid;

  grid-template-columns:
    [S-img]
    minmax(min-content, 10rem)
    [E-img S-content]
    minmax(min-content, 1fr)
    [E-content S-fav]
    min-content
    [E-fav];
  grid-template-rows: [S-title] min-content [E-title S-details] min-content [E-details];
  gap: 2rem;
  grid-column-gap: 4rem;
  align-items: center;

  background-color: var(--color-surface);
  padding: 3rem;
  border-radius: 2rem;

  transition: all 0.2s ease-in-out;
}

.bookSummary:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background-color: var(--color-border);
  transform: translateY(-0.5rem);
}

.title {
  font-weight: 600;
}
.author {
  font-weight: 500;
}
.favIcon {
  cursor: pointer;
}

.bookSummary > img {
  grid-column: S-img / E-img;
  grid-row: S-title / E-details;
}

.bookSummary > p {
  grid-column: S-content / E-content;
  grid-row: S-details / E-details;
}

.bookSummary > .title {
  grid-column: S-content / E-content;
  grid-row: S-title / E-title;
  justify-self: start;
}

.bookSummary > .author {
  grid-column: S-content / E-content;
  grid-row: S-title / E-title;
  justify-self: end;
}

.bookSummary > .favIcon {
  grid-column: S-fav / E-fav;
  grid-row: S-title / E-details;
}
