@use "../variables.scss" as *;

.favCard {
  background-color: $color-surface;
  padding: 1.7rem 2rem;
  border-radius: 0.7rem;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color-secondary-light;
    box-shadow: 0 0.5rem 1rem rgba($color-secondary, 0.1);
    transform: translateY(-0.2rem);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-bottom: 2rem;

    div {
      $fav-icon-size: 3rem;
      width: $fav-icon-size;
      height: $fav-icon-size;
      min-width: $fav-icon-size;
      min-height: $fav-icon-size;

      margin-left: 1rem;
    }
  }

  img {
    width: 100%;
    height: 15rem;
    display: block;
    margin: 0 auto;
    border: 2px solid $color-border;
    margin-bottom: 3rem;
  }

  .sectionName {
    font-weight: 500;
    margin-bottom: 1.4rem;

    // Select all but first child
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
}

.cardList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.cardItem {
  color: $color-text;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  // hyphenate text
  word-break: break-word;
  hyphens: auto;

  & > a,
  & > a:visited {
    color: inherit;
    text-decoration: none;
  }

  & > a:hover {
    text-decoration: underline;
  }

  &____color1 {
    background-color: $color-primary-light;
    color: $color-bg;
  }

  &____color2 {
    background-color: $color-success;
  }

  &____color3 {
    background-color: $color-warning;
  }

  &____color4 {
    background-color: $color-error;
  }

  &____color5 {
    background-color: $color-primary;
    color: $color-bg;
  }

  &____color6 {
    background-color: $color-secondary;
  }

  &____color7 {
    background-color: $color-bg;
  }

  &____color8 {
    background-color: $color-border;
  }

  &____color9 {
    background-color: $color-primary-dark;
    color: $color-bg;
  }
}
