@use "./variables.scss" as *;

/* Basix reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  /* 
    Inherit box-sizing from parent, which will the the value
    defined in the body element
    */
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  color: $color-text;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: $color-text;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
}
